APP_PORT=3001

# DATABASE
DATABASE_CONNECT=postgres
DATABASE_HOST=q5of99tech-interview99tech.l.aivencloud.com
DATABASE_PORT=12822
DATABASE_USER=avnadmin
DATABASE_PASSWORD=AVNS_rJBcPU6j7oCZ5R3jRHO
DATABASE_NAME=defaultdb
DATABASE_CA_PEM="-----BEGIN CERTIFICATE-----
MIIETTCCArWgAwIBAgIUeXWqRTeh+zsBk/Y9YLzMYZFXH14wDQYJKoZIhvcNAQEM
BQAwQDE+MDwGA1UEAww1NDA5MWZmM2EtZWExZS00ZjRmLWE4YzktZGI2YjFhM2Jl
ZTk0IEdFTiAxIFByb2plY3QgQ0EwHhcNMjUwMjA5MTcxMDE1WhcNMzUwMjA3MTcx
MDE1WjBAMT4wPAYDVQQDDDU0MDkxZmYzYS1lYTFlLTRmNGYtYThjOS1kYjZiMWEz
YmVlOTQgR0VOIDEgUHJvamVjdCBDQTCCAaIwDQYJKoZIhvcNAQEBBQADggGPADCC
AYoCggGBAM3a/jhW0Wtw6Rh3eQv5Smm6atCUeEDCuMrR19Gx1lyOSAWK7y2BferR
KyZZD+hboj8EhrhmMck6x2uyvGjH5/PzyzlAlUGs8jVCqCXbdNWwY7vwWrVjlJ95
XDeOtT5nRVX8VEMb1e8qaG+s5CegOm5N6SjCZ3ZBfHrmZEmusn/wmu/iICwcC2ls
EwBkAmylct2VV6oDWFi7eqvBIcFfIuVu0ifLO6AN3PM84o9wnkjdWCh6XY7Eqbdc
nYXXQgGKUGy9nukCeRIJHITC4haLRmJVXppIxy+Hrb5ByMYX620CBh6JePfj1c6f
KJn9EfD0OgtK2TjuR37ga5TQqYAQNq1KIDNV1xKmsTNE95Xr6oDut5A4GD+IrYvV
alY7Rh0hNTp9mHVQizbN/uhLbo/uNgtQ9MVlgv0TsUNZJ9GrvM5GCDGyrpubXxeh
XoTNNkAO3rP5M96g5QcomU47LCWtZW0P32XYmcBBQb+pGAlkInm3lzb575IDE9bx
lqfkD+Ad/wIDAQABoz8wPTAdBgNVHQ4EFgQUcJC176iHaCZ1wz48w6QEJUkCzBgw
DwYDVR0TBAgwBgEB/wIBADALBgNVHQ8EBAMCAQYwDQYJKoZIhvcNAQEMBQADggGB
AMzY1DNo5wFH9C2kY5sksUJzonp+KNueNrTEe/TOmySx06CxTZJf8WvczhB6bkx5
eC9UWTm/T4ylDgvJ21yCC+T1j+gHUc3lI1pfzTmM9cphR9k5a+9KgbBEHm9x6nJK
w9DWKY71lH3w/Gm+nejOgrSJqeB9UYtCBDKDdyz5SDUVrjOQNaFr1KmZS3Y3dvDu
BIx8RY/pUATgE3pt/+A6NCdQtwE+Hsueq5s0HywdcAeRtv4oA+DvJb0jNbWTSc3H
df5WA8T5GCZAwDUoJbqmbygNY0QSNqcrgtIqDntgDULsHyrrhWss3TB6hIEj1Gnw
6HDtH2RJsYF/QjUFmi9n6GfuPCXjDQkQkUfzUJXav78pbRAan93nh/TB1bFwte2t
8bGwW9b4mY+4vrV3x2NPkpRykI/4qC/Utw4kCToq9CCZz9XM0LphjxGQjuiQamNi
lOlSZZKmUA0Q61ct2Wn7gCF4n3mwPa+jF93C9y2d8u+SRMrVmINMltlNVxePU94/
IQ==
-----END CERTIFICATE-----"